body{font-family: Helvetica, sans-serif;
  font-size: 12px;
  background-color: rgba(119,191,163);
  color:rgb(237,238,201);
  line-height-step: 5px;
  height: auto;
  margin: 0px;
  overflow-x: hidden;

}

/* Start of nav */

.parent-nav{
  background-color: rgb(3, 102,102);
  height: auto;
  display: flex;
  overflow-x: hidden;
  }
  
  
  .navbar{
  width: 100%;
  height: 100%;
  color: rgb(237,238,201);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  overflow-x: hidden;

  
  }
  
  .nav-list{
  list-style-type: none;
  display: table-cell;
  margin-top: 30px;
  padding: 0px;
  padding-left: 10%;
  padding-right: 10%;
  overflow-x: hidden;

  }
  
  .nav-list .list-item{
  display: inline-block;
  padding: 20px 10px
  
  }
  
  .navbar a{
      color: rgb(237,238,201);
      text-decoration: none;
  }
  
  .navbar a:hover {
      color:white;
  
  }
  .menu{
      display: none;
  }
  
  .menu-line{
      width:20px;
      height: 2px;   
      background-color:  rgb(237,238,201);
      margin-bottom: 4px;
      vertical-align: center;
      cursor: pointer;
      position: relative;
      top: 20px;
  }
  
  
  @media all and (max-width: 450px) {
  
      .nav-list .list-item{
          background-color: rgb(3, 102,102);
          display: block;
          border-top: 1px solid rgb(237,238,201);
          padding:  50px 50px;
          position: inherit;
          text-align: center;
          z-index: 10;
          }
  
      .nav-list{
          background-color: rgb(3, 102,102);
          width: 100%;
          text-align: center;
          list-style-type: none;
          padding-top: 30px;
          display: none;
           }
  
      .navbar{
      opacity: 100%;
      flex-direction: column;
      align-items: flex-start;}
  
      .menu{
          display: block;
          position: absolute;
          right: 10px;
          top: 15px;
      }
      .div-logo{
          width: 100%;
          margin-left: 10px ;
          margin-top: 5px;
          display: grid;
  
      }
  .logo{
  width: 45px;
  align-items: center;
  }
      
  .active{
      display: block;
      }
  
  }
  
  h1{text-align: center;}
  
  
  .logo{
  
  object-fit:contain;
  padding: 20px;
  }
  
  nav{background-color:rgb(3, 102, 102);
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;}
  
  /* end of nav */


    /* Section 1 */
    
    .row {
        display: flex;
    }
      
    .column1 {
        flex: 50%;
        padding-top: 50px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        background:rgb(237, 239, 228);
    }
    
    /* Copy */
    
    h3 {
        font-family: 'Poppins', sans-serif; 
        font-weight: 400;
        font-size: 28px;
    }
    
    p{
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 20px;      
    }
    
    .column2 {
      flex: 50%;
      margin:0;
      background:rgb(237, 239, 228);
    }


    .oops {
      flex: 1;
      background:rgb(255, 255, 255);
      color: black;
      border-radius: 10px;
      margin: 20px 10px;
      padding: 15px 20px;
      text-align: center;
  
  }

  .oops img{
    max-width: 100%;

  }
    /* footer */
#footer {
  background:rgba(20, 116,111);
  padding: 20px;
  color:  rgb(237,238,201);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;

}


.footerlist{
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  overflow-x: hidden;


}


.footerlist li{
  display: inline-block;
  text-align: center;
  width: 100%;
}

.footerdetail{
  padding:10px;
  list-style: none;
  list-style-type: none;
  font-size: 12px;
  font-weight: lighter;
  width: 100%;
  overflow-x: hidden;

}